  <!-- navigation bar -->
  <div class="navContainer">
    <nav class="nav">
        
        <h3><a href="/">HOME</a></h3>
        <h3><a href="/login">LOGIN</a></h3>
        <h3><a href="/registration">REGISTRATION</a></h3>
        <!-- <h3><a href="/registration">Logout</a></h3> -->
        
    </nav>
</div>