<%- include('./partials/header.ejs')%> <%- include('./partials/navbar.ejs')%>

<h1 class="titleCentre">DASHBOARD</h1>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque error amet fugit eos eaque, a officiis cumque, illum odit provident temporibus ea. Excepturi dolorum hic iure qui, harum at eius maiores sint molestiae rerum quidem nisi soluta minima nemo quasi delectus eum obcaecati ullam explicabo pariatur error unde fuga mollitia quo. Nesciunt praesentium facilis impedit a. Tempore officiis qui mollitia minima possimus dolore non expedita libero aut voluptates aliquam eius excepturi, vitae cum architecto consequatur repellat? Eveniet blanditiis dignissimos totam praesentium voluptatibus deleniti? Saepe, facere quasi neque quam voluptates consectetur perspiciatis nam sapiente officia necessitatibus. Soluta placeat consequatur repellat doloribus distinctio eos laborum aliquid doloremque deleniti excepturi tempora asperiores ratione repellendus qui quod, voluptates, ex cumque perferendis iusto ad optio, fuga fugiat rerum? Dolorum, quam modi molestias perferendis error architecto placeat, aperiam ullam, iusto voluptates sint maiores nemo corporis hic consequatur amet tempore labore ut ad maxime eveniet voluptate eligendi!

<div class="flexBoxCentre">
    <h2>welcome Mr. <%= uDbCredetial.name%></h2>
</div>


<%- include('./partials/footer.ejs')%>
