<%- include('./partials/header.ejs')%> <%- include('./partials/navbar.ejs')%>

<div class="container">
  <div>
    <span>welcome to Divyansh's website</span>
    <span>just login</span>
  </div>
 
  
</div>
<div>
  <h2>What do we provide</h2>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, iure! Magni, expedita praesentium minus quam impedit tempora reiciendis explicabo repudiandae, at nesciunt, facere beatae et provident iure nihil? Quidem rerum enim nulla accusamus dicta deleniti, nemo cum molestias perspiciatis similique dignissimos nihil aperiam exercitationem aspernatur nostrum labore neque reprehenderit quaerat!</p>
 </div>
 <div>
  <h2>why you need to be connected</h2>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, iure! Magni, expedita praesentium minus quam impedit tempora reiciendis explicabo repudiandae, at nesciunt, facere beatae et provident iure nihil? Quidem rerum enim nulla accusamus dicta deleniti, nemo cum molestias perspiciatis similique dignissimos nihil aperiam exercitationem aspernatur nostrum labore neque reprehenderit quaerat!</p>
 </div>
 <div>
  <h2>just log in and enjoy</h2>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, iure! Magni, expedita praesentium minus quam impedit tempora reiciendis explicabo repudiandae, at nesciunt, facere beatae et provident iure nihil? Quidem rerum enim nulla accusamus dicta deleniti, nemo cum molestias perspiciatis similique dignissimos nihil aperiam exercitationem aspernatur nostrum labore neque reprehenderit quaerat!</p>
 </div>

<%- include('./partials/footer.ejs')%>
