<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>

    <h1 class="titleCentre">Register Here</h1>
    <div class="flexBoxCentre">
        <form action="/registration/" method="post">
            <input type="text" name="name" id="" placeholder="enter your name">
            <input type="email" name="email" id="" placeholder="enter your email">
            <input type="password" name="password" id="" placeholder="enter your password">
            <input type="submit" value="Register">
    
    </div>
    
    <%- include('./partials/footer.ejs')%>